<template>
  <div class="About">
    <div id="container">
      <h1>About</h1>
      <p class="mainText">This is a simple application for reporting cases. Built for general purpose. Project can be found at <a class="link" href="https://gitlab.com/denniswenger10/casereport">this GitLab-link</a>.</p>
      <p class="author">Author, <br>
      Dennis Wenger</p>
    </div>
  </div>
</template>

<style lang="scss" scoped>

.About{

  color: $black;

  #container{
    padding: 30px 30px;
    h1{
      font-size: 40px;
      text-align: center;
    }
    .mainText{
      margin-top: 10px;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
    }
    .link{
      color: $primaryColor;
    }
    .author{
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
    }
  }
}


</style>