<template>
  <div class="home">
    <inputLine title="Title"/>
    <inputLine title="Something"/>
    <inputDropdown title="Category" :array="['Hardware','Mobile','Software']"/>
    <inputDropdown title="Handled at" :array="['Techbar','Onsite','Office']"/>
    <inputButton title="Submit" class="button"/>
  </div>
</template>

<script>
// @ is an alias to /src
import inputLine from "@/components/inputLine.vue";
import inputButton from "@/components/inputButton.vue";
import inputDropdown from "@/components/inputDropdown.vue";

export default {
  name: "home",
  components: {
    inputLine,
    inputButton,
    inputDropdown,
  }
};
</script>

<style lang="scss" scoped>

.home{
  padding: 15px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  max-width: 95vw;

  .button{
    justify-self: end;
  }

}

</style>