<template>
  <div class="hello">
    <h1>Statistics page coming soon</h1>
  </div>
</template>

<script>

export default {
  name: "statistics",
  components: {},
};
</script>

<style scoped lang="scss">

h1{
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
}

</style>
