<template>
  <div id="hamburgerWrapper" @click="changeClass()">
    <div id="hamburger1" :class="classObject"></div>
    <div id="hamburger2" :class="classObject"></div>
    <div id="hamburger3" :class="classObject"></div>
  </div>
</template>

<script>
export default {
  name: "hamburger",
  data() {
    return {
      active: null
    };
  },
  computed: {
    classObject: function(){
      return {
        cross: this.active === true,
        hamburger: this.active ===false
      }
    }
  },
  methods: {
    changeClass(){
      this.$emit('click')
      if(this.active === null){
        this.active = true
      }else{
        this.active = !this.active
      }
    }
  }
};
</script>

<style lang="scss">
$height: 35px;
$width: $height;
$animationDuration: 800ms;

#hamburgerWrapper{
  width: $width;
  height: $height;
  position: relative;
  cursor: pointer;

  #hamburger1,#hamburger2,#hamburger3{
    position: absolute;
    height: $height * 0.2;
    width: $width;
    background-color: $primaryColor;
    border-radius: $height * 0.1;
  }

  #hamburger1{
    top: 0;
    transform: translateY(0) rotate(0deg);
    &.cross{
      animation: topCross $animationDuration ease-in-out forwards;
    }
    &.hamburger{
      animation: topHamburger $animationDuration ease-in-out forwards;
    }
  }

  #hamburger2{
    top: 50%;
    transform: translateY(-50%);
    &.cross{
      animation: midCross $animationDuration ease-in-out forwards;
    }
    &.hamburger{
      animation: midHamburger $animationDuration ease-in-out forwards;
    }
  }

  #hamburger3{
    bottom: 0;
    transform: translateY(0) rotate(0deg);
    &.cross{
      animation: botCross $animationDuration ease-in-out forwards;
    }
    &.hamburger{
      animation: botHamburger $animationDuration ease-in-out forwards;
    }
  }
  
}

@keyframes topCross {
  0%   {transform: translateY(0) rotate(0deg)}
  50%  {transform: translateY(($height/2)-($height * 0.1)) rotate(0deg)}
  80% {transform: translateY(($height/2)-($height * 0.1)) rotate(55deg)}
  100% {transform: translateY(($height/2)-($height * 0.1)) rotate(45deg)}
}

@keyframes midCross {
  0%   {transform: translateY(-50%);opacity: 1;}
  50%  {transform: translateY(-50%);opacity: 1;}
  51%  {transform: translateY(-50%);opacity: 0;}
  100% {transform: translateY(-50%);opacity: 0;}
}

@keyframes botCross {
  0%   {transform: translateY(0) rotate(0deg)}
  50%  {transform: translateY(-(($height/2)-($height * 0.1))) rotate(0deg)}
  80% {transform: translateY(-(($height/2)-($height * 0.1))) rotate(-55deg)}
  100% {transform: translateY(-(($height/2)-($height * 0.1))) rotate(-45deg)}
}

@keyframes topHamburger {
  0%    {transform: translateY(($height/2)-($height * 0.1)) rotate(45deg)}
  50%   {transform: translateY(($height/2)-($height * 0.1)) rotate(0deg)}
  80%  {transform: translateY(-($height * 0.05)) rotate(0deg)}
  100%  {transform: translateY(0) rotate(0deg)}
}

@keyframes midHamburger {
  0%   {transform: translateY(-50%);opacity: 0;}
  50%  {transform: translateY(-50%);opacity: 0;}
  51%  {transform: translateY(-50%);opacity: 1;}
  100% {transform: translateY(-50%);opacity: 1;}
}

@keyframes botHamburger {
  0%    {transform: translateY(-(($height/2)-($height * 0.1))) rotate(-45deg)}
  50%   {transform: translateY(-(($height/2)-($height * 0.1))) rotate(0deg)}
  80%  {transform: translateY(($height * 0.05)) rotate(0deg)}
  100%  {transform: translateY(0) rotate(0deg)}
}
</style>