<template>
  <div class="hello">
    <h1>Home page!</h1>
  </div>
</template>

<script>

import hamburger from "@/components/Hamburger.vue"

export default {
  name: "HelloWorld",
  components: {
    hamburger
  },
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
