<template>
  <div id="HhkJJbVjVVUvV654">
    <div id="container">
      <select 
        id="selectList" 
        name="list" 
        @change="selectChange()"
        @focus="showDropdown(true)" 
        @blur="showDropdown(false)" 
        @keyup.enter="showDropdown(false)"
        v-model="selectIndex">
        <option 
          v-for="(item, index) in list" 
          :value="index" 
          :key="index">
        </option>
      </select>
      <p 
        id="listHeading"
        @click="showDropdown()"
        :class="{show: showList, hide: !showList}">
          {{ inputTitle }}{{ list[selectIndex] }}
      </p>
      <ul 
        id="list"
        :class="{show: showList, hide: !showList}">
        <li 
          v-for="(item, index) in list"
          @mouseover="hover(index)"
          @click="showDropdown()"
          :value="item" 
          :key="index"
          :class="{
            target: selectIndex == index,
            listItem: true
          }">
          {{`${item}`}}</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'inputDropdown',
  components: {},
  props: [
    'title',
    'array'
  ],
  data(){
    return {
      clickTime: new Date,
      showList: false,
      selectIndex: null,
    }
  },
  methods: {
    selectChange(){
      //console.log(this.selectIndex)
    },
    hover(index){
      if(this.clickTime < new Date - 200){
        this.selectIndex = index
      }
    },
    showDropdown(bool){
      if(bool){
        this.showList = bool
        this.clickTime = new Date
      }else{
        this.clickTime = new Date
        this.showList = !this.showList
      }
    }
  },
  computed: {
    inputTitle: function(){
      return (this.title ? `${this.title}: ` : 'Dropdown: ')
    },
    list: function(){
      return (this.array ? this.array : ["Give","Component","Data"])
    }
  },
}
</script>

<style lang="scss" scoped>

#HhkJJbVjVVUvV654{

  position: relative;
  font-size: $fontSizeInput;
  margin-top: 5px;

  #selectList{
    height: 0;
    transform: scaleY(0);
    background-color: rgba(255,255,255,0);
    padding: 0;
    margin: 0;
  }
  
  #listHeading{
    width: 100%;
    border-bottom: 2px solid $primaryColor;
    margin-top: -10px;
    padding: 0 0 10px 0;
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: $inputTransition;

    &::after{
      content:'';
      height: 4px;
      width: 4px;
      position: absolute;
      right: 10px;
      top: 40%;
      border-width: 0 2px 2px 0;
      border-style: solid;
      display: inline-block;
      padding: 3px;
      transition: $inputTransition;
    }

    &.show{
      color: $black;
      &::after{
        transform: translateY(-50%) rotate(135deg);
        border-color: $black;
      }
    }
    &.hide{
      color: $grey;
      &::after{
        transform: translateY(-50%) rotate(45deg);
        border-color: $grey;
      }
    }
  }

  #list{
    position: absolute;
    width: 100%;
    z-index: 100;
    list-style: none;
    color: white;
    transition: $inputTransition;
    transform-origin: 50% 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;

    &.show{
      transform: scaleY(1);
    }

    &.hide{
      transform: scaleY(0);
    }

    .listItem{
      cursor: pointer;
      user-select: none;
    }
  }

  .target{
    color: $primaryColor;
  }

}

</style>
