<template>
  <div id="PkefPew99524JNJN">
    <p id="name" :class="{ focused: nameFocused }">{{ inputTitle }}{{ inputText }}</p>
    <input 
      :type="inputType" 
      :maxlength=38 
      v-model="inputText"
      @focus="active(true)" 
      @blur="active(false)"
      :class="{ focused: nameFocused }">
  </div>
</template>

<script>

export default {
  name: 'inputLine',
  components: {},
  props: [
    'type',
    'title'
  ],
  data(){
    return {
      inputText: '',
      nameFocused: false
    }
  },
  methods: {
    active(bool){
      this.nameFocused = bool
    }
  },
  computed: {
    inputType: function(){
      return (this.type ? this.type : 'text')
    },
    inputTitle: function(){
      return (this.title ? `${this.title}: ` : 'Input: ')
    }
  }
}
</script>

<style lang="scss" scoped>

$maxwidth: 100%;

#PkefPew99524JNJN{

  font-size: $fontSizeInput;
  max-width: 400px;
  min-width: 290px;

  #name{
    width: 100%;
    pointer-events: none;
    transform: translate(3px, 24px);
    color: $grey;
    transition: $inputTransition;
    &.focused{
      transform: translate(3px, 0px);
      color: $black;
    }
  }

  input{
    background-color: rgba(255,255,255,0);
    margin: 0 auto;
    width: 100%;
    padding: 5px 3px;
    border-radius: 0;
    border-bottom: 2px solid $primaryColor;
    color: rgba(255,255,255,0);
    caret-color: $primaryColor;
    transition: $inputTransition;
    &.focused{
      color: $black;
    }
  }

}

</style>
