<template>
  <div id="HhkJJbVjVVUvV656">
    <div id="container" v-on:animationend="clickend" :class="{ clicked: animate }">
      <button @click="clicked">{{title}}</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'inputButton',
  components: {},
  props: [
    'title'
  ],
  data(){
    return {
      animate: false
    }
  },
  methods: {
    clicked: function(){
      this.animate = true
      this.$emit('click')
    },
    clickend: function(){
      this.animate = false
    }
  },
  computed: {},
  created(){
    
  }
}
</script>

<style lang="scss" scoped>

#HhkJJbVjVVUvV656{

  margin-top: 5px;

  #container{
    display: inline-block;
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
    &:hover{
      transform: translateY(5%);
    }
    &.clicked{
      animation: 0.2s clicked ease-in-out 0s;
      // transform: translateY(10%);
    }
  }

  button{
    user-select: none;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: $gradientFull;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &::before{
      content:'';
      position: absolute;
      top: 5px;
      left: 0;
      border-radius: 5px;
      height: 100%;
      width: 100%;
      background: $gradientShadow;
      z-index: -1;
    }

    &::after{
      content:'';
      position: absolute;
      bottom: -11px;
      left: 5%;
      border-radius: 5px;
      height: 10%;
      width: 90%;
      background-color: rgba(0,0,0,0.15);
      z-index: -2;
      transition: all 0.2s ease-in-out;
    }

    &:hover{
      &::after{
        bottom: -5px;
      }
    }
  }

  @keyframes clicked{
    0%{
      transform: translateY(5%);
    }
    50%{
      transform: translateY(15%);
    }
    100%{
      transform: translateY(5%);
    }
  }

}

</style>
