<template>
  <div>
    <div id="navContainer">
      <div id="nav">
        <svg id="logotype" @click="sendHome()" viewBox="0 0 7118 1788" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
          <path d="M6229.23 2.076c223.583 1.064 445.177 88.936 608.35 242.666 205.987 194.066 310.933 487.926 272.216 770.871-34.298 250.651-181.026 482.344-391.683 621.975-143.855 95.352-314.726 147.085-488.882 147.914a1622394.4 1622394.4 0 0 1-5341.48 0c-282.95-1.346-557.786-143.141-722.652-373.44C.268 1181.811-45.52 872.127 47.579 602.738 161.471 273.18 476.658 24.238 839.108 3.539c16.192-.925 32.409-1.386 48.645-1.463 1780.49-2.768 3560.99-2.768 5341.47 0zM890.66 64.919c-252.144.392-502.179 121.794-658.135 325.158-156.61 204.215-210.664 482.42-138.596 732.979 93.63 325.517 397.692 579.316 751.41 598.385 14.194.765 28.402 1.146 42.617 1.214 1780.36 2.931 3560.72 2.93 5341.07 0 257.468-1.225 510.376-128.602 664.422-337.099 151.237-204.693 200.525-480.208 128.179-725.934-68.994-234.334-247.042-433.983-472.799-529.538-100.94-42.724-210.467-64.641-319.8-65.161-1779.45-2.766-3558.91-.004-5338.37-.004z" fill="#eee" fill-rule="nonzero"/>
          <clipPath id="a">
            <path d="M6229.23 2.076c223.583 1.064 445.177 88.936 608.35 242.666 205.987 194.066 310.933 487.926 272.216 770.871-34.298 250.651-181.026 482.344-391.683 621.975-143.855 95.352-314.726 147.085-488.882 147.914a1622394.4 1622394.4 0 0 1-5341.48 0c-282.95-1.346-557.786-143.141-722.652-373.44C.268 1181.811-45.52 872.127 47.579 602.738 161.471 273.18 476.658 24.238 839.108 3.539c16.192-.925 32.409-1.386 48.645-1.463 1780.49-2.768 3560.99-2.768 5341.47 0zM890.66 64.919c-252.144.392-502.179 121.794-658.135 325.158-156.61 204.215-210.664 482.42-138.596 732.979 93.63 325.517 397.692 579.316 751.41 598.385 14.194.765 28.402 1.146 42.617 1.214 1780.36 2.931 3560.72 2.93 5341.07 0 257.468-1.225 510.376-128.602 664.422-337.099 151.237-204.693 200.525-480.208 128.179-725.934-68.994-234.334-247.042-433.983-472.799-529.538-100.94-42.724-210.467-64.641-319.8-65.161-1779.45-2.766-3558.91-.004-5338.37-.004z" clip-rule="nonzero"/>
          </clipPath>
          <g clip-path="url(#a)">
            <path fill="url(#_Linear2)" d="M-140.095-108.251h7463.15v2032.56h-7463.15z"/>
          </g>
          <path d="M1134.38 1509.06c0 20.261 11.054 31.312 31.32 31.312h633.624c20.325 0 31.411-11.051 31.411-31.312v-11.052c0-20.261-11.086-31.313-31.411-31.313h-585.723V278.615c0-20.325-11.055-31.412-31.321-31.412h-16.58c-20.266 0-31.32 11.087-31.32 31.412v1230.44z" fill="#eee" fill-rule="nonzero"/>
          <clipPath id="b">
            <path d="M1134.38 1509.06c0 20.261 11.054 31.312 31.32 31.312h633.624c20.325 0 31.411-11.051 31.411-31.312v-11.052c0-20.261-11.086-31.313-31.411-31.313h-585.723V278.615c0-20.325-11.055-31.412-31.321-31.412h-16.58c-20.266 0-31.32 11.087-31.32 31.412v1230.44z" clip-rule="nonzero"/>
          </clipPath>
          <g clip-path="url(#b)">
            <path fill="url(#_Linear4)" d="M-140.095-108.251h7463.15v2032.56h-7463.15z"/>
          </g>
          <path d="M1864.23 884.546c0 380.704 282.508 677.998 653.971 677.998s653.975-297.294 653.975-677.998c0-371.463-282.512-659.512-653.975-659.512S1864.23 513.083 1864.23 884.546zm82.916 0c0-330.805 243.946-583.987 571.055-583.987 327.109 0 571.06 253.182 571.06 583.987 0 340.046-243.951 602.473-571.06 602.473-327.109 0-571.055-262.427-571.055-602.473z" fill="#eee" fill-rule="nonzero"/>
          <clipPath id="c">
            <path d="M1864.23 884.546c0 380.704 282.508 677.998 653.971 677.998s653.975-297.294 653.975-677.998c0-371.463-282.512-659.512-653.975-659.512S1864.23 513.083 1864.23 884.546zm82.916 0c0-330.805 243.946-583.987 571.055-583.987 327.109 0 571.06 253.182 571.06 583.987 0 340.046-243.951 602.473-571.06 602.473-327.109 0-571.055-262.427-571.055-602.473z" clip-rule="nonzero"/>
          </clipPath>
          <g clip-path="url(#c)">
            <path fill="url(#_Linear6)" d="M-140.095-108.251h7463.15v2032.56h-7463.15z"/>
          </g>
          <path d="M3377.5 893.884c0 374.995 273.273 668.66 633.659 668.66 286.46 0 441.703-190.141 441.703-190.141h3.694s-1.842 27.73-1.842 55.459v81.262c0 20.161 11.054 31.247 31.32 31.247h16.58c20.266 0 31.321-11.086 31.321-31.411V982.496c0-20.261-11.055-31.313-31.321-31.313h-247.502c-20.329 0-31.418 11.052-31.418 31.313v11.052c0 20.261 11.089 31.313 31.418 31.313h199.602v249.44c0 .124-166.335 212.718-443.555 212.718-319.727 0-550.743-256.961-550.743-593.135 0-334.552 236.561-593.325 561.832-593.325 188.509 0 323.423 75.785 377.019 112.753 16.633 11.09 33.266 9.241 44.355-7.394l9.24-11.09c12.906-14.787 12.906-31.422-3.696-44.361-55.444-38.815-201.446-125.433-426.918-125.433-365.93 0-644.748 295.482-644.748 668.85z" fill="#eee" fill-rule="nonzero"/>
          <clipPath id="d">
            <path d="M3377.5 893.884c0 374.995 273.273 668.66 633.659 668.66 286.46 0 441.703-190.141 441.703-190.141h3.694s-1.842 27.73-1.842 55.459v81.262c0 20.161 11.054 31.247 31.32 31.247h16.58c20.266 0 31.321-11.086 31.321-31.411V982.496c0-20.261-11.055-31.313-31.321-31.313h-247.502c-20.329 0-31.418 11.052-31.418 31.313v11.052c0 20.261 11.089 31.313 31.418 31.313h199.602v249.44c0 .124-166.335 212.718-443.555 212.718-319.727 0-550.743-256.961-550.743-593.135 0-334.552 236.561-593.325 561.832-593.325 188.509 0 323.423 75.785 377.019 112.753 16.633 11.09 33.266 9.241 44.355-7.394l9.24-11.09c12.906-14.787 12.906-31.422-3.696-44.361-55.444-38.815-201.446-125.433-426.918-125.433-365.93 0-644.748 295.482-644.748 668.85z" clip-rule="nonzero"/>
          </clipPath>
          <g clip-path="url(#d)">
            <path fill="url(#_Linear8)" d="M-140.095-108.251h7463.15v2032.56h-7463.15z"/>
          </g>
          <path d="M4752.2 884.546c0 380.704 282.508 677.998 653.971 677.998s653.976-297.294 653.976-677.998c0-371.463-282.513-659.512-653.976-659.512S4752.2 513.083 4752.2 884.546zm82.916 0c0-330.805 243.946-583.987 571.055-583.987 327.109 0 571.06 253.182 571.06 583.987 0 340.046-243.951 602.473-571.06 602.473-327.109 0-571.055-262.427-571.055-602.473z" fill="#eee" fill-rule="nonzero"/>
          <clipPath id="e">
            <path d="M4752.2 884.546c0 380.704 282.508 677.998 653.971 677.998s653.976-297.294 653.976-677.998c0-371.463-282.513-659.512-653.976-659.512S4752.2 513.083 4752.2 884.546zm82.916 0c0-330.805 243.946-583.987 571.055-583.987 327.109 0 571.06 253.182 571.06 583.987 0 340.046-243.951 602.473-571.06 602.473-327.109 0-571.055-262.427-571.055-602.473z" clip-rule="nonzero"/>
          </clipPath>
          <g clip-path="url(#e)">
            <path fill="url(#_Linear10)" d="M-140.095-108.251h7463.15v2032.56h-7463.15z"/>
          </g>
          <path d="M2381.91 923.603a33.333 33.333 0 0 1 0-59.628l179.526-89.763a33.332 33.332 0 0 1 48.241 29.814v179.526a33.334 33.334 0 0 1-48.241 29.814l-179.526-89.763z" fill="#eee"/>
          <clipPath id="f">
            <path d="M2381.91 923.603a33.333 33.333 0 0 1 0-59.628l179.526-89.763a33.332 33.332 0 0 1 48.241 29.814v179.526a33.334 33.334 0 0 1-48.241 29.814l-179.526-89.763z"/>
          </clipPath>
          <g clip-path="url(#f)">
            <path fill="url(#_Linear12)" d="M-140.095-108.251h7463.15v2032.56h-7463.15z"/>
          </g>
          <path d="M5542.66 863.975a33.333 33.333 0 0 1 0 59.628l-179.526 89.763a33.334 33.334 0 0 1-48.24-29.814V804.026a33.333 33.333 0 0 1 48.24-29.814l179.526 89.763z" fill="#eee"/>
          <clipPath id="g">
            <path d="M5542.66 863.975a33.333 33.333 0 0 1 0 59.628l-179.526 89.763a33.334 33.334 0 0 1-48.24-29.814V804.026a33.333 33.333 0 0 1 48.24-29.814l179.526 89.763z"/>
          </clipPath>
          <g clip-path="url(#g)">
            <path fill="url(#_Linear14)" d="M-140.095-108.251h7463.15v2032.56h-7463.15z"/>
          </g>
          <defs>
            <linearGradient id="_Linear2" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(-15.235 7124.306 1485.925) scale(7734.98)">
              <stop offset="0" stop-color="#5f91d6"/>
              <stop offset=".5" stop-color="#00ef8f"/>
              <stop offset="1" stop-color="#00997d"/>
            </linearGradient>
            <linearGradient id="_Linear4" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(-15.235 7124.306 1485.925) scale(7734.98)">
              <stop offset="0" stop-color="#5f91d6"/>
              <stop offset=".5" stop-color="#00ef8f"/>
              <stop offset="1" stop-color="#00997d"/>
            </linearGradient>
            <linearGradient id="_Linear6" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(-15.235 7124.306 1485.925) scale(7734.98)">
              <stop offset="0" stop-color="#5f91d6"/>
              <stop offset=".5" stop-color="#00ef8f"/>
              <stop offset="1" stop-color="#00997d"/>
            </linearGradient>
            <linearGradient id="_Linear8" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(-15.235 7124.306 1485.925) scale(7734.98)">
              <stop offset="0" stop-color="#5f91d6"/>
              <stop offset=".5" stop-color="#00ef8f"/>
              <stop offset="1" stop-color="#00997d"/>
            </linearGradient>
            <linearGradient id="_Linear10" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(-15.235 7124.306 1485.925) scale(7734.98)">
              <stop offset="0" stop-color="#5f91d6"/>
              <stop offset=".5" stop-color="#00ef8f"/>
              <stop offset="1" stop-color="#00997d"/>
            </linearGradient>
            <linearGradient id="_Linear12" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(-15.235 7124.306 1485.925) scale(7734.98)">
              <stop offset="0" stop-color="#5f91d6"/>
              <stop offset=".5" stop-color="#00ef8f"/>
              <stop offset="1" stop-color="#00997d"/>
            </linearGradient>
            <linearGradient id="_Linear14" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(-15.235 7124.306 1485.925) scale(7734.98)">
              <stop offset="0" stop-color="#5f91d6"/>
              <stop offset=".5" stop-color="#00ef8f"/>
              <stop offset="1" stop-color="#00997d"/>
            </linearGradient>
          </defs>
        </svg>
        <div id="pages">
          <router-link to="/">Home</router-link>
          <router-link to="/statistics">Statistics</router-link>
          <router-link to="/about">About</router-link>
        </div>
        <div id="hamburgerWrapper">
          <hamburger @click="toggleMenu()"/>
        </div>
      </div>
      <transition name="menuTransition">
        <div id="menu" v-if="showMenu">
          <router-link to="/">Home</router-link>
          <router-link to="/statistics">Statistics</router-link>
          <router-link to="/about">About</router-link>
        </div>
      </transition>
    </div>
    <div id="spaceTop"></div>
  </div>
</template>

<script>
import router from "@/router";
import hamburger from "@/components/Hamburger.vue"

export default {
  name: "navbar",
  components: {
    hamburger
  },
  data() {
    return {
      showMenu: false,
    };
  },
  methods: {
    toggleMenu(){
      this.showMenu = !this.showMenu
    },
    sendHome(){
      router.push('/')
    }
  }
};
</script>

<style lang="scss" scoped>
.menuTransition-enter-active, .menuTransition-leave-active {
  transition: transform .5s ease;
}
.menuTransition-enter, .menuTransition-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(-100%);
}

$mediaBreakpoint: 600px;

#spaceTop{
  height: 50px;
}

#nav{

  z-index: 2;
  background-color: $backgroundColor;
  display: grid;
  grid-template-columns: 150px 1fr;
  padding: 10px;
  position: relative;
  overflow: hidden;

  a{
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }


  svg{ 
    height: 35px;
    cursor: pointer;
  }

  #pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin: 0 20px;
      position: relative;
      transition: all 0.3s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0%;
        height: 3px;
        background-color: white;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          left: 25%;
          width: 50%;
        }
      }

      &.router-link-exact-active {
        color: $primaryColor;

        &::after {
          background-color: $primaryColor;
          left: 0%;
          width: 100%;
        }
      }
    }
    @media screen and (max-width: $mediaBreakpoint) {
      a{
        transform: translateY(-200px)
      }
    }
  }

  #hamburgerWrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(100px); 
    right: 10px;
    transition: all 0.3s ease-in-out; 
  }

  @media screen and (max-width: $mediaBreakpoint) {
    #hamburgerWrapper{
      transform: translateY(-50%) translateX(0);
    }
  }
}

#navContainer{
  position: fixed;
  width: 100%;

  #menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundColor;
    padding: 15px 30px 30px 30px;
    right: 0;
    top: 100%;
    opacity: 0.9;
    z-index: 1;

    a{
      display: block;
      position: relative;
      justify-self: center;
      font-weight: bold;
      margin-top: 15px;
      font-size: 20px;
      width: fit-content;
      color: white;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0%;
        height: 3px;
        background-color: white;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          left: 25%;
          width: 50%;
        }
      }

      &.router-link-exact-active {
        color: $primaryColor;

        &::after {
          background-color: $primaryColor;
          left: 0%;
          width: 100%;
        }
      }
    }
  }

  @media screen and (min-width: $mediaBreakpoint) {
    #menu{
      display:none;
    }
  }
}


</style>