$gradientFirst: rgb(83, 214, 208);
$gradientMid: rgb(0,239,143);
$gradientLast: rgb(113, 206, 144);
$gradientFull: linear-gradient(60deg, $gradientFirst, $gradientMid, $gradientLast);
$gradientShadow: linear-gradient(90deg, rgb(59, 199, 129), rgb(54, 196, 161));
$backgroundColor: #353535;
$primaryColor: $gradientMid;
$black: rgba(26,26,26,1);
$grey: rgb(178, 178, 178);
$fontSizeInput: 20px;
$inputTransition: all 0.2s ease-in-out;

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=latin-ext,vietnamese");

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body{
  font-family: 'Quicksand', sans-serif;
}