<template>
  <div id="app">
    <navbar id="navbarComponent"/>
    <transition name="routerAnimation" mode="out-in">
      <router-view id="routerView"/>
    </transition>
  </div>
</template>

<script>
import navbar from './components/Navbar.vue'
import hamburger from './components/Hamburger.vue'
import inputLine from './components/inputLine.vue'
import inputButton from './components/inputButton.vue'
import inputDropdown from './components/inputDropdown.vue'
import router from './router'

export default {
  components: {
    navbar,
    router,
    hamburger,
    inputLine,
    inputButton,
    inputDropdown,
  }
}

</script>


<style lang="scss">

.routerAnimation-enter-active{
  animation: 0.2s routIn ease-in-out;
}

.routerAnimation-leave-active{
  animation: 0.2s routIn ease-in-out reverse;  
}

#navbarComponent{}

#routerView{}

@keyframes routIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

</style>
